# ------------------------
# Rider / IntelliJ IDEA
# ------------------------
.idea/
# Allow project-wide code style and inspections to be shared
!.idea/codeStyles/
!.idea/inspectionProfiles/

# Ignore local IDE files
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf/

# Rider specific files
riderModule.iml
/_ReSharper.Caches/

# ------------------------
# Visual Studio / .NET
# ------------------------
bin/
obj/
.vs/
*.user
*.suo

# ------------------------
# Build & packages
# ------------------------
/packages/
/artifacts/
*.dll
*.exe
*.pdb
*.cache
*.log
*.dbmdl
*.bak
*.sql
*.ldf
*.mdf
*.nupkg
*.snupkg

# NuGet
project.lock.json
project.fragment.lock.json
.nuget/
*.NuGet.props
*.NuGet.targets

# ------------------------
# OS-specific files
# ------------------------
.DS_Store
Thumbs.db
ehthumbs.db

Digin_Kompetanse/appsettings.json

qodana.yaml
