# =============================
# Visual Studio / .NET
# =============================

# Build-mapper
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio workspace
.vs/
workspace.xml

# Rider / JetBrains
.idea/

# Loggfiler
*.log

# Miljøfiler
.env
appsettings.json

# Qodana configuration
qodana.yaml

# Andre filer som kan genereres
*.cache
*.bak
*.tmp
*.swp

# Node / frontend (hvis prosjektet har det)
node_modules/
dist/
/Digin_Kompetanse.clean.git/filter-repo/suboptimal-issues
/Digin_Kompetanse.clean.git/hooks/update.sample
/Digin_Kompetanse.clean.git/info/refs
/Digin_Kompetanse.clean.git/filter-repo/ref-map
/Digin_Kompetanse.clean.git/hooks/push-to-checkout.sample
/Digin_Kompetanse.clean.git/hooks/pre-commit.sample
/Digin_Kompetanse.clean.git/hooks/pre-receive.sample
/Digin_Kompetanse.clean.git/hooks/prepare-commit-msg.sample
/Digin_Kompetanse.clean.git/hooks/pre-rebase.sample
/Digin_Kompetanse.clean.git/hooks/pre-push.sample
/Digin_Kompetanse.clean.git/hooks/pre-merge-commit.sample
/Digin_Kompetanse.clean.git/hooks/pre-applypatch.sample
/Digin_Kompetanse.clean.git/hooks/post-update.sample
/Digin_Kompetanse.clean.git/objects/info/packs
/Digin_Kompetanse.clean.git/packed-refs
/Digin_Kompetanse.clean.git/objects/pack/pack-e8c196f2d86e3a3e7888f950424bcfc883a1eda7.pack
/Digin_Kompetanse.clean.git/objects/pack/pack-e8c196f2d86e3a3e7888f950424bcfc883a1eda7.idx
/Digin_Kompetanse.clean.git/objects/pack/pack-e8c196f2d86e3a3e7888f950424bcfc883a1eda7.bitmap
/Digin_Kompetanse.clean.git/HEAD
/Digin_Kompetanse.clean.git/hooks/fsmonitor-watchman.sample
/Digin_Kompetanse.clean.git/filter-repo/first-changed-commits
/Digin_Kompetanse.clean.git/info/exclude
/Digin_Kompetanse.clean.git/description
/Digin_Kompetanse.clean.git/config
/Digin_Kompetanse.clean.git/hooks/commit-msg.sample
/Digin_Kompetanse.clean.git/filter-repo/commit-map
/Digin_Kompetanse.clean.git/objects/info/commit-graph
/Digin_Kompetanse.clean.git/filter-repo/changed-refs
/Digin_Kompetanse.clean.git/hooks/applypatch-msg.sample
/Digin_Kompetanse.clean.git/filter-repo/already_ran
