
@{
    ViewData["Title"] = "AdminOverview";
}

<h2>Admin: Oversikt over kompetanse</h2>
<div class="table-box">

    <table>

        <thead>
        <tr>
            <th>Bedrift</th>
            <th>E-postadresse</th>
            <th>Fagområde</th>
            <th>Kompetanse</th>
            <th>Beskrivelse</th>
        </tr>
        </thead>

        <tbody>
            <tr>
                <td>Eksempel før me har kobla til database</td>
                <td>Eksempel før me har kobla til database</td>
                <td>Eksempel før me har kobla til database</td>
                <td>Eksempel før me har kobla til database</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="actions">
    <button type="button" class="btn btn--icon btn--edit">Rediger</button>
    <button type="submit" class="btn btn--icon btn--save">Lagre</button>
</div>
