@{
    ViewData["Title"] = "Help";
}


<!DOCTYPE html>

<html>
<head>
    <title>Help</title>
</head>
<body>
<h2>Slik gjør du det:</h2>
<p>Dette er en kompetansekartlegging der du som bedrift kan legge inn og oppdatere kompetanse</p>

<p><strong>Steg 1</strong></p>
    <li>Fyll inn bedriftens informasjon</li>

<p><strong>Steg 2</strong></p>
    <li>Velg kompetanse relevant for din bedrift og relevante underkategorier.</li>
    <li>Du kan bruke søkefunksjonen til å finne kategorier. </li>


<p><strong>Steg 3</strong></p>
    <li>Etter innsending: Se over at informasjonen er korrekt</li>


</body>
</html>