@{
    ViewData["Title"] = "Help";
}


<!DOCTYPE html>

<html lang="no">
<head>
    <title>Help</title>
</head>
<body>
<div>
    <h2>Slik registrerer du bedriftens kompetanse:</h2>

    <div class="help">
        <div class="step">
            <h5><strong>Steg 1</strong></h5>
            <p>Logg inn med bedriftens e-post og engangskode som blir tilsendt. Er du administrator trykker du på linken for innlogging for administrator.</p>
        </div>
    
        <div class="step">
            <h5><strong>Steg 2</strong></h5>
            <p>Fyll inn bedriftens informasjon i skjemaet, og legg til eventuell beskrivelse. <em>Fagområde, kompetanse og underkompetanse</em> er obligatoriske felt som må fylles ut.</p>
        </div>

        <div class="step">
            <h5><strong>Steg 3</strong></h5>
            <p>Velg kompetanse relevant for din bedrift og relevante underkategorier.</p>
        </div>

        <div class="step">
            <h5><strong>Steg 4</strong></h5>
            <p>Etter innsending: Se over at informasjonen er korrekt og rediger om nødvendig.</p>
        </div>
    </div>
</div>

</body>
</html>