@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <title>Kompetansekartlegging</title>
</head>

<body>
<h2>Registrer kompetanse</h2>
<script src="js/site.js"></script>

<!-- Skjema for utfylling av kompetanse -->
<!-- input name må være lik parametere i home controller -->
<form method="post" action="">
    <p><input name="bedriftNavn" placeholder="Bedriftens navn" required/></p>

    <p><input name="bedriftEpost" type="email" placeholder="Epost" required/></p>

    <p><input name="fagområdeNavn" placeholder="Fagområde" required/></p>

    <div class="kompetanse-group">
        <button type="button" class="dropbtn" onclick="myFunction()">Velg kompetanse</button>
        <div id="dropdownContent" class="dropdown-content">
            <input type="text" placeholder="Søk.." id="input" onkeyup="filterFunction()">
            <a href="#" onclick="selectCompetence('Java'); return false;">Java</a>
            <a href="#" onclick="selectCompetence('C#'); return false;">C#</a>
            <a href="#" onclick="selectCompetence('Excel'); return false;">Excel</a>
        </div>
    </div>
    <p><input type="text" class="margin-bottom" id="selectedCompetence" name="kompetanse" placeholder="Valgt kompetanse" readonly required></p>

    <div>
        <p><textarea name="beskrivelse" placeholder="Beskrivelse" rows="4"></textarea></p>
    </div>
    <p><button type="submit" class="btn">Send inn</button></p>
    <a asp-controller="Home" asp-action="Privacy" class="no-link">Ved innsending samtykker du til at Digin lagrer opplysningene dine internt bruk.</a>
</form>

</body>
</html>