@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <title>Kompetansekartlegging</title>
</head>

<body>
<h2>Registrer kompetanse</h2>

<!-- Skjema for utfylling av kompetanse -->
<!-- input name må være lik parametere i home controller -->
<form method="post" action="">
    <label>Bedriftens Navn:</label>
    <p><input name="bedriftNavn" placeholder="Bedriftens navn" required/></p>
    
    <label>Epost:</label>
    <p><input name="bedriftEpost" type="email" placeholder="epost" required/></p>
    
    <label>Fagområde:</label>
    <p><input name="fagområdeNavn" placeholder="Fagområde" required/></p>
    
    <label>Kompetanse:</label>
    <p><input name="kompetanseNavn" placeholder="Kompetanse" required/></p>
    
    <label>Beskrivelse:</label>
    <p><textarea name="beskrivelse" placeholder="Beskrivelse" rows="4"></textarea></p>
    <p><button type="submit">Send inn</button></p>
    <p style="font-size: 0.9em; color: gray;">
        <em>Ved innsending samtykker du til at Digin lagrer opplysningene dine til internt bruk.</em>
    </p>
</form>

</body>
</html>