@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <title>Kompetansekartlegging</title>
</head>

<body>
<div class="main">
<h2>Registrer kompetanse</h2>
<script src="js/site.js"></script>

<!-- Skjema for utfylling av kompetanse -->
<!-- input name må være lik parametere i home controller -->
<form method="post" action="">
    <p><input name="bedriftNavn" placeholder="Bedriftens navn" required/></p>

    <p><input name="bedriftEpost" type="email" placeholder="E-postadresse" required/></p>

    <p><input name="fagområdeNavn" placeholder="Fagområde" required/></p>

    <select id="fagområdeDropdown">
        <!-- JS fyller inn her -->
    </select>

    <div>
        <p><textarea name="beskrivelse" placeholder="Beskrivelse" rows="4"></textarea></p>
    </div>
    <p><button type="submit" class="btn-submit">Send inn</button></p>
    <a asp-controller="Home" asp-action="Privacy" class="no-link">Ved innsending samtykker du til at Digin lagrer opplysningene dine internt.</a>
</form>
</div>
</body>
</html>