@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Digin er ansvarlig for behandling av personopplysninger som samles inn gjennom kompetanseregistreringen.

    Formålet med løsningen er å registrere og administrere hvilken kompetanse medlemsbedriftene i Digin besitter.

    I forbindelse med registreringen vil følgende opplysninger behandles:
    Bedriftsnavn 
    Kontaktinformasjon
    Registrert kompetanse

    Det registreres ikke sensitive personopplysninger.

    Opplysningene deles ikke med andre medlemmer eller aktører. Kun Digin har tilgang til de innsendte opplysningene.

    Behandlingen skjer på grunnlag av medlemsbedriftenes frivillige innsending av opplysninger.
    (GDPR art. 6(1)(a) samtykke)

    Opplysningene lagres så lenge medlemskapet i Digin er aktivt, eller til bedriften ber om å få slettet opplysningene.

    Bedriftene har rett til innsyk i hvilke opplysninger som er registrert, samt til retting og sletting i henhold til gjeldende personvernregelverk.</p>


<p>Har du noen spørsmål om hvordan Digin behandler personopplysninger?</p>
<p>Kontakt oss på:
    <p>E-post: -------</p>
    <p>Telefon: ------</p>
