
                                                                                                                                                                        
@media (min-width: 768px) {
}

  html {
    font-size: 16px;
  }

 h1, h2, h3, h4, h6 {
     font-family: "DM Sans", sans-serif;
     font-weight: 500;
     font-style: normal;
      text-align: center;
    
}

h5, li, ol, ul {
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h5 {
  margin-top: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 20px;
  font-size: 16px;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.navbar {
  display: flex;
  background-color: #F7F7F7 !important;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-top: 0;
  padding-left: 0;
}

.navbar-brand {
  padding-right: 30px;
}

.nav-link {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
  margin-right: 60px;
  margin-top: 10px;

  .nav-logout {
    margin-right: 1000px;
  }

  &:hover {
    color: #006F35;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #006F35;
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
    color: #006F35;
    
  }

  &.active {
    font-weight: 700;
    color: #1B589F;
  }

  /* Custom styling for the logout link */

  .logout-link {
    /* Example Styles */
    font-weight: 600; /* Makes the text bolder */
    font-size: 100px !important; /* Adjusts the font size */
    color: #dc3545; /* Changes the text color to Bootstrap's danger color */
    /* Add any other desired styles */
  }

  .logout-link:hover {
    color: #a71d2a; /* Darker shade on hover */
    text-decoration: underline; /* Underlines the text on hover */
  }
}