
                                                                                                                                                                        
@media (min-width: 768px) {
}

  html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
  }

 h1, h2, h3, h4, h6 {
     font-family: "DM Sans", sans-serif;
     font-weight: 500;
     font-style: normal;
      text-align: center;
    
}

h5, li, ol, ul {
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h5 {
  margin-top: 20px;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 20px;
  font-size: 16px;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column; /* slik at nav - main blir under hverandre */
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
}

form input, form textarea, form button {
  width: 100%;
  box-sizing: border-box;
  padding: 0 24px;
  font-size: 16px;
  height: 50px;
  
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7F7F7 !important;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-top: 0;
  padding: 10px 20px;
}

.navbar-brand {
  padding-right: 30px;
}

.nav-link {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
  margin-right: 60px;
  margin-top: 10px;

  /* Custom styling for the logout link */
}
.nav-link .nav-logout {
  margin-right: 1000px;
}
.nav-link:hover {
  color: black;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}
.nav-link:hover::after {
  width: 100%;
}
.nav-link.active {
  font-weight: 700;
  color: #0098D1;
}
.nav-link .logout-link {
  /* Example Styles */
  font-weight: 600; /* Makes the text bolder */
  font-size: 100px !important; /* Adjusts the font size */
  color: #dc3545; /* Changes the text color to Bootstrap's danger color */
  /* Add any other desired styles */
}
.nav-link .logout-link:hover {
  color: #a71d2a; /* Darker shade on hover */
  text-decoration: underline; /* Underlines the text on hover */
}

.nav-logout {
  margin-right: 1000px;
}

&:hover {
  color: #006F35;
}

&::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #006F35;
  transition: width 0.3s ease;
}

&:hover::after {
  width: 100%;
}

&.active {
  font-weight: 700;
  color: #1B589F;
}

/* Custom styling for the logout link */

.logout-link {
  /* Example Styles */
  font-weight: 600; /* Makes the text bolder */
  font-size: 100px !important; /* Adjusts the font size */
  color: #dc3545; /* Changes the text color to Bootstrap's danger color */
  /* Add any other desired styles */
}

.logout-link:hover {
  color: #a71d2a; /* Darker shade on hover */
  text-decoration: underline; /* Underlines the text on hover */
}




/* Hjemside */

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

/*plassering av kompetanse elementer */

.kompetanse-group {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin-bottom: 4px;
}


/*dropdown knapp*/
.dropbtn {
  background-color: #0098D1;
  color: white;
  font-size: 16px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 1.5px;
  width: 100%;
}


/* Dropdown container */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown-innhold (skjult som standard) */

.dropdown-content {
  position: relative;
  background-color: lightblue;
  min-width: 150px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Søkefelt */

#input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* Lenker i dropdown */

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Vis dropdown */
.show {
  display: none;
}

.btn {
  background-color: white;
  color: #0098D1;
  border-color: #0098D1;
}

.btn:hover {
  background-color: #0098D1; 
  color: white;
}

.no-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.no-link:hover {
  color: #6c757d;
  text-decoration: underline;
}