@model ErrorViewModel
@{
    ViewData["Title"] = "Noe gikk galt";
}

<h1>Oi, noe gikk galt</h1>
<p>Det oppstod en feil mens vi behandlet forespørselen din.</p>

@if (Model.ShowRequestId)
{
    <p><small>Feilreferanse: @Model.RequestId</small></p>
}
<p>Hvis feilen fortsetter, ta kontakt med Digin.</p>